%h3= "New visit for itinerary ##{@itinerary.id}"

%b Start time: 
= @itinerary.start_time.strftime("%H:%M%P")


-unless @visits.empty?
  %b Last visited address:
  = @itinerary.last_visit_address


- if @visits
  %hr
  - @visits.each do |visit|
    .panel-group
      .panel.panel-default
        .panel-heading
          = "Visit ##{visit.id}"
        .panel-body
          %b Address:
          = visit.address
          %b Duration of the visit:
          = "#{visit.duration} minutes"
          %b Travel Time:
          = "#{visit.travel_time} minutes"
          %b Arrival Time:
          = visit.arrival_time.strftime("%H:%M%P")

.panel-group
  .panel.panel-primary
    .panel-heading
      New Visit
    .panel-body
      = simple_form_for ([:itinerary, @visit]) do |f|
        = f.input :address, label: 'Address:'
        = f.input :duration, as: :float, label: 'Duration:'
        = f.submit